
body {
    background-color:mediumorchid;
}
header {
    display:flex;
    justify-content:center;
    background:lightseagreen;
}

.search{
    background-color:magenta;
}

.weather-info-container{
    background-color:lime;
}

.five-day-forecast{
    background-color:red;
}

.search-container{
    padding-left:10px;
}